<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top Jobs</title>
    <style>
    .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   }

    .card h3 {
    font-weight: bold;
    margin-bottom: 5px;
    }

    .card p {
    margin-bottom: 5px;
    }

    .card span {
    font-size: 0.9em;
    }

    .job-list {
    list-style-type: none; /* Removes default bullets */
    padding: 0;
    }

    </style>
</head>
<body>
    <div>
        <div th:if="${jobs.isEmpty()}">
            <p>No jobs available.</p>
        </div>
        <div th:if="${!jobs.isEmpty()}">
            <ul class="job-list">
                <li th:each="job : ${jobs}" class="card">
                    <div>
                        <h3 th:text="${job.title}"></h3>
                        <p>Company: <span th:text="${job.company}"></span></p>
                        <p>
                            <span>&nbsp;&#x1F5FA;&nbsp;</span> <!-- Map locator emoji -->
                            <span th:text="${job.location}"></span>
                        </p>
                        <p>
                            <span>Last Date to Apply: </span>
                            <span th:text="${job.lastDate}"></span>
                        </p>
                    </div>
                </li>
            </ul>            
        </div>
    </div>
</body>
</html>

